<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>953902939900-o6195u454paba7gccqhspm0lgvq8vg4o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.953902939900-o6195u454paba7gccqhspm0lgvq8vg4o</string>
	<key>API_KEY</key>
	<string>AIzaSyAnk77-XQ4ByvNsvUkaBytWLT3p0m6Xcak</string>
	<key>GCM_SENDER_ID</key>
	<string>953902939900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.practice</string>
	<key>PROJECT_ID</key>
	<string>multiapp-b4ccf</string>
	<key>STORAGE_BUCKET</key>
	<string>multiapp-b4ccf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953902939900:ios:ded933995302358606e179</string>
</dict>
</plist>